h1 > span{
    font-
}
.card-title{
    font-size: 2rem;
    font-weight: 600;
}

.form-control{
    width: 50%;
    display: inline-block;
}

.card-header{
    font-weight: 600;
}

.form-inline .btn-outline-success:hover {
    color: #fff;
    background-color: #77807a;
}

.footer-head{
    font-weight: 600;
}
